{% extends "base.html" %}

{% block content %}
    <div class="content-film">
        <h1>Title: {{ movie.title }}</h1>

        <p><strong>Director:</strong>
            {% for dir in director %}
                <a href="">{{ dir }}</a>
            {% endfor %}
        </p>
        <p><strong>Rating:</strong> {{ rating }}</p>

        <div>
        <p><strong>Characters:</strong>
            {% for char in characters %}
                <a href="">{{ char }}</a>
            {% endfor %}
            </p>
        </div>


        <div class="textarea-class"> <h4>Synopsis</h4> {{ synopsis }} </div>
    </div>
{% endblock %}